/* styles/App.css */
.widget-card {
  padding: 1rem;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.widget-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.widget-text {
  white-space: pre-line;
  font-size: 14px;
}
